
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Chivo", sans-serif;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #121725; 
}


.container{
    max-width: 1275px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    
    
}
.logo img{
    top: -130px;
    position: relative;
    width: 134.85px;
    height: 56px;
}



.card-img{
    grid-column: 2 /4;
    grid-row: 1 /2;
    width: 888px;
    height: 640px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    
}





.left-card{
    grid-column: 1 / 3 ;
    grid-row: 1/2;
    max-width: 723px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: absolute;
    top: 265px;
    z-index: 2;
    background-color: #121725;
    
    

}
.main-img img{
    width: 888px;
    height: 640px;
}

.card-img-dots {
    max-width: 232px;
    height: 104px;
    bottom: 0;
    top: 590px;
    position: absolute;
    z-index: 1;
    
}

.wrapper{
    width: 427px;
    height: 56px;
    position: relative;
    
}

.wrapper input{
    width: 100%;
    height: 56px;
    background-color: #2C344B;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding-left: 25px;
    border-radius: 28px;
    border: none;
}
.wrapper button{
    width: 162px;
    height: 80%;
    background-color: #54E6AF;
    color: #121725;
    border: none;
    border-radius: 28px;
    font-size: 14px;
    font-weight: 700;
    aspect-ratio: 2;
    position: absolute;
    right: 1%;
    top: 10%;
    
}
.logos{
    display: flex;
    align-items: center;
    gap: 40px;
}

h1{
    font-size: 52px;
    font-weight: 200;
    line-height: 1.2;
    color:#54E6AF;
    text-transform: uppercase;
    width: 665px;
}
span{
    color: white
}
p{
    color: #C2CBE5;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    width: 445px;

}